<a href="https://colab.research.google.com/github/CyberIngeniero/Proyecto_Clustering_HDI/blob/master/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nuevos Clusters de Vehículos

# Librerias

In [ ]:
# Librerias
import os
import shutil

from google.colab import files    #files.upload()
from google.colab import drive    #drive.mount('/gdrive')

import pandas as pd
import numpy as np

# Carga y Lectura de Registros

In [ ]:
# Se crea directorio de trabajo
path = "/tmp/data_clusters"
os.mkdir(path)

In [ ]:
# Montando Drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
# Copia del archivo a directorio local
!cp  /gdrive/My\ Drive/Proyecto_Nuevos_Clusters/Base_Clusters.csv /tmp/data_clusters

In [ ]:
# Moviendo datos a entorno de trabajo
os.rename("/tmp/data_clusters/Base_Clusters.csv", "/tmp/data_clusters/Base_Clusters_MM.csv")

In [ ]:
# Cambiando a directorio de trabajo
os.chdir(path)
print(os.getcwd())

/tmp/data_clusters

In [ ]:
df = pd.read_csv("Base_Clusters_MM.csv")
df.columns = df.columns.str.lower()
df = df.rename(columns = {'sum([cantidad convertida final])':'cantidad_polizas'})

In [ ]:
df.head()

   antiguedad_veh prima_neta_deducible_anualizada  ... cotizacion cantidad_polizas
0               0                             0,2  ...          1                0
1               0                            0,24  ...          1                0
2               0                            0,27  ...          1                0
3               0                            0,31  ...          1                0
4               0                            0,99  ...          1                0

[5 rows x 14 columns]

# Data Treatment

In [ ]:
df['precot_veh_uso'].unique()

array(['Particular (Vehículos de uso personal y/o familiar destinado al transporte sin fines de lucro)',
       'Vehículos de Reparto',
       'Otros usos comerciales distintos de transporte de pasajero y/o carga',
       'Transporte Pasajeros', 'Taxi Básico', 'Comercial'], dtype=object)